Repository EqualMa/gitpkg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint, imagemin-lint-staged

.lintstagedrc.yml:

"*.{md,html,css,yml,yaml,json}": "prettier --write"
"*.{js,ts}": "npm run lint"
"*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged"

chore: upgrade eslint
  .eslintignore
  .eslintrc.js
  .lintstagedrc.yml
  package-lock.json
  package.json
  packages/core/.eslintrc.js
  packages/core/.lintstagedrc.yml
  packages/core/babel.config.js
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/parse-url-query/parser.ts
  tools/common/.eslintrc.js
Due: prettier --write, npm run lint

chore: migrate to npm
  README.md
  lerna.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

refactor: remove pkg.exports because it doesn't work well with vercel edge runtime
  api/_utils/pkg.ts
  packages/core/package.json
  packages/core/src/api/download-git-pkg.ts
  packages/core/src/tar/entry.ts
  packages/core/src/tar/pack.ts
  packages/edge-polyfill/package.json
Due: prettier --write, npm run lint

fix: specify framework and outputDirectory explicitly
  vercel.json
Due: prettier --write

fix: vercel routes
  package.json
  vercel.json
  website/docusaurus.config.ts
Due: prettier --write, npm run lint

chore: fix lint on *.spec.ts
  packages/core/src/tsconfig.src.json
  packages/core/tsconfig.json
  packages/core/tsconfig.test.json
Due: prettier --write

fix: rewrite parseFromUrl so that shortcut commit doesn't need to be the very first query param
  api/_utils/pkg.ts
  packages/core/src/parse-url-query/get-value.ts
  packages/core/src/parse-url-query/parser.ts
  packages/core/src/parse-url-query/plugins/custom-scripts/plugin.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/commit-ish.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/from-query.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/from-url.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/plugin.ts
Due: npm run lint

chore: upgrade typescript
  package-lock.json
  package.json
Due: prettier --write

docs: home page title
  website/src/pages/index.tsx
Due: none

feat: ping check rateLimitEnabled
  api/_utils/limit.ts
  api/ping.ts
Due: npm run lint

feat!: migrate to edge runtime
  api/_utils/extract-http-error.ts
  api/_utils/pkg.ts
  api/pkg-from-url.ts
  api/pkg.ts
  packages/core/src/api/download-git-pkg.ts
  packages/core/src/api/index.ts
  packages/core/src/index.ts
  packages/core/src/tar/entry.ts
  packages/core/src/tar/extract-sub-folder.ts
  packages/core/src/tar/pack.ts
  packages/edge-polyfill/src/compression-streams.ts
  packages/edge-polyfill/src/shims.d.ts
  packages/edge-polyfill/src/stream.ts
  packages/edge-polyfill/src/web-stream.ts
Due: npm run lint

chore: remove docs workspace temporarily
  package.json
Due: prettier --write

chore: use typescript projects
  .gitignore
  .prettierignore
  jest.config.ts
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/tsconfig.json
  packages/core/tsconfig.json
  packages/core/tsconfig.prod.json
  packages/core/tsconfig.test.json
  packages/edge-polyfill/package.json
  packages/edge-polyfill/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, npm run lint

docs: add funding links
  website/src/components/Funding.tsx
  website/src/pages/index.tsx
Due: none

fix: use forked readable-stream
  package-lock.json
  packages/edge-polyfill/package.json
Due: prettier --write

chore: npm update
  package-lock.json
Due: prettier --write

docs: github link
  website/docusaurus.config.ts
Due: npm run lint

fix: vercel build command
  package.json
  vercel.json
Due: prettier --write

fix: use pako decompression stream
  packages/core/src/api/download-git-pkg.ts
  packages/edge-polyfill/src/compression-streams-pako.ts
Due: npm run lint

Update index.tsx
  website/src/pages/index.tsx
Due: none

fix(readme): update link to the custom scripts section
  README.md
Due: prettier --write

fix: replace gitpkg.now.sh with gitpkg.vercel.app
  README.md
  website/docs/guide.md
  website/src/gitpkg/api-from-url.ts
Due: prettier --write, npm run lint
