Repository EqualMa/gitpkg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint

.lintstagedrc.yml:

"*.{md,html,css,yml,yaml,json}": "prettier --write"
"*.{js,ts}": "npm run lint"

wip: test module with relative path
  api/ping.ts
Due: npm run lint

fix: use forked readable-stream
  package-lock.json
  packages/edge-polyfill/package.json
Due: prettier --write

fix: use readable-stream browser files
  packages/edge-polyfill/src/shims.d.ts
  packages/edge-polyfill/src/stream.ts
Due: npm run lint

wip: test module with module path
  api/ping.ts
Due: npm run lint

fix: workaround: use relative path
  api/_utils/pkg.ts
Due: npm run lint

fix: ponyfill string_decoder
  packages/core/src/tar/entry.ts
  packages/edge-polyfill/src/shims.d.ts
  packages/edge-polyfill/src/string_decoder.ts
Due: npm run lint

wip: test workspace module
  api/ping.ts
Due: npm run lint

wip: test tsconfig paths
  tsconfig.json
Due: prettier --write

Revert "wip: test tsconfig paths"
  tsconfig.json
Due: prettier --write

wip: test pre-built workspace
  api/ping.ts
  package-lock.json
  packages/test-workspace/index.d.ts
  packages/test-workspace/index.js
  packages/test-workspace/package.json
Due: prettier --write, npm run lint

wip: test module workspace
  packages/test-workspace/package.json
Due: prettier --write

wip: test workspace no dependency
  api/ping.ts
Due: npm run lint

wip: test workspace exports
  api/ping.ts
  packages/test-workspace/package.json
  packages/test-workspace/sub-module.d.ts
  packages/test-workspace/sub-module.js
Due: prettier --write, npm run lint

wip: test build in prepare
  api/ping.ts
  package.json
Due: prettier --write, npm run lint

Revert "wip: test build in prepare"
  api/ping.ts
  package.json
Due: prettier --write, npm run lint

wip: test namespaced workspace exports
  api/ping.ts
  package-lock.json
  packages/test-namespaced-workspace/index.d.ts
  packages/test-namespaced-workspace/index.js
  packages/test-namespaced-workspace/package.json
  packages/test-namespaced-workspace/sub-module.d.ts
  packages/test-namespaced-workspace/sub-module.js
Due: prettier --write, npm run lint

wip: test module in core
  api/ping.ts
  packages/core/package.json
  packages/core/src/test-mod.ts
Due: prettier --write, npm run lint

wip: test index in core
  api/ping.ts
  packages/core/package.json
  packages/core/src/index.ts
Due: prettier --write, npm run lint

wip: test remove glob exports
  api/ping.ts
  packages/core/package.json
Due: prettier --write, npm run lint

wip: test remove exports
  api/ping.ts
  packages/core/package.json
Due: prettier --write, npm run lint

refactor: remove pkg.exports because it doesn't work well with vercel edge runtime
  api/_utils/pkg.ts
  packages/core/package.json
  packages/core/src/api/download-git-pkg.ts
  packages/core/src/tar/entry.ts
  packages/core/src/tar/pack.ts
  packages/edge-polyfill/package.json
Due: prettier --write, npm run lint

fix: override b4a for edge runtime
  package-lock.json
  packages/core/package.json
Due: prettier --write

chore: set vercel framework to others for local dev
  vercel.json
Due: prettier --write

fix: rewrite parseFromUrl so that shortcut commit doesn't need to be the very first query param
  api/_utils/pkg.ts
  packages/core/src/parse-url-query/get-value.ts
  packages/core/src/parse-url-query/parser.ts
  packages/core/src/parse-url-query/plugins/custom-scripts/plugin.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/commit-ish.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/from-query.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/from-url.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/plugin.ts
Due: npm run lint

feat!: add rate limits
  api/_utils/http_status_code.ts
  api/_utils/limit.ts
  api/_utils/pkg.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint

fix: update tar-stream
  package-lock.json
Due: prettier --write

feat: ping check rateLimitEnabled
  api/_utils/limit.ts
  api/ping.ts
Due: npm run lint

fix: rate limit expire time
  api/_utils/limit.ts
Due: npm run lint

fix: gitpkg v2 should have same compression output as v1
  api/_utils/pkg.ts
  package-lock.json
  packages/core/src/api/download-git-pkg.ts
  packages/edge-polyfill/package.json
  packages/edge-polyfill/src/compression-streams-pako.ts
Due: prettier --write, npm run lint

chore: add funding
  .github/FUNDING.yml
Due: prettier --write

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

docs: 404 page
  package.json
Due: prettier --write

feat: reserve routes `/about` and `/api`
  vercel.json
Due: prettier --write

docs: add funding links
  website/src/components/Funding.tsx
  website/src/pages/index.tsx
Due: none

docs: padding styles
  website/src/pages/index.module.css
Due: prettier --write

docs: github link
  website/docusaurus.config.ts
Due: npm run lint

docs: custom scripts help link
  website/src/components/CustomScripts.tsx
Due: none
