Repository EqualMa/gitpkg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn run lint:fix, imagemin-lint-staged

chore: remove docs workspace temporarily
  package.json
Due: prettier --write

chore: migrate to npm
  README.md
  lerna.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: use npm
  .lintstagedrc.yml
  packages/core/.lintstagedrc.yml
  tools/common/.lintstagedrc.yml
Due: prettier --write

chore: upgrade prettier
  .prettierrc.json
  docs/.vuepress/api-from-url.js
  docs/.vuepress/components/GitpkgApi.vue
  docs/.vuepress/components/ServiceWorkerPopup.vue
  docs/.vuepress/my-components/ApiChoicesDisplay.vue
  docs/.vuepress/my-components/CustomScriptEdit.vue
  docs/.vuepress/my-components/CustomScripts.vue
  docs/.vuepress/my-components/SingleApiDisplay.vue
  docs/.vuepress/public/manifest.webmanifest
  docs/.vuepress/scripts/gen-assets.js
  package-lock.json
  package.json
  packages/core/src/api/codeload-url.ts
  packages/core/src/parse-url-query/default-parser.ts
  packages/core/src/parse-url-query/error.ts
  packages/core/src/parse-url-query/parser.ts
  packages/core/src/parse-url-query/plugins/custom-scripts/parse-query.ts
  packages/core/src/parse-url-query/plugins/custom-scripts/plugin.ts
  packages/core/src/tar/custom-scripts.ts
Due: prettier --write

chore: upgrade eslint
  .eslintignore
  .eslintrc.js
  .lintstagedrc.yml
  package-lock.json
  package.json
  packages/core/.eslintrc.js
  packages/core/.lintstagedrc.yml
  packages/core/babel.config.js
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/parse-url-query/parser.ts
  tools/common/.eslintrc.js
Due: prettier --write

chore: upgrade lint-staged
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

chore: lint-staged should be dev dependency
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade typescript
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade jest
  .gitignore
  jest.config.ts
  package-lock.json
  package.json
  packages/core/jest.config.js
Due: prettier --write

chore: update tsconfig.json and lint configurations
  .eslintrc.js
  packages/core/tsconfig.json
  tools/common/tsconfig.json
  tsconfig.json
Due: prettier --write

chore: check .vscode into git
  .gitignore
  .vscode/settings.json
Due: prettier --write

feat!: implement core with async await rather than tar-transform
  .eslintignore
  package-lock.json
  package.json
  packages/core/.eslintignore
  packages/core/package.json
  packages/core/src/api/download-git-pkg.ts
  packages/core/src/index.ts
  packages/core/src/tar/custom-scripts.spec.ts
  packages/core/src/tar/custom-scripts.ts
  packages/core/src/tar/entry.ts
  packages/core/src/tar/extract-sub-folder.spec.ts
  packages/core/src/tar/extract-sub-folder.ts
  packages/core/src/tar/modify-single-file.ts
  packages/core/src/tar/pack.ts
  packages/core/src/tar/prepend-path.spec.ts
  packages/core/src/tar/prepend-path.ts
  packages/core/test/util/tar-entry.ts
  packages/core/tsconfig.prod.json
Due: prettier --write

fix: api
  .eslintrc.cjs
  .gitignore
  api/_utils/pkg.ts
  api/ping.ts
  api/pkg-from-url.ts
  api/pkg.ts
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/api/download-git-pkg.ts
  tsconfig.json
Due: prettier --write, yarn run lint:fix

chore: use typescript projects
  .gitignore
  .prettierignore
  jest.config.ts
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/tsconfig.json
  packages/core/tsconfig.json
  packages/core/tsconfig.prod.json
  packages/core/tsconfig.test.json
  packages/edge-polyfill/package.json
  packages/edge-polyfill/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

feat!: migrate to edge runtime
  api/_utils/extract-http-error.ts
  api/_utils/pkg.ts
  api/pkg-from-url.ts
  api/pkg.ts
  packages/core/src/api/download-git-pkg.ts
  packages/core/src/api/index.ts
  packages/core/src/index.ts
  packages/core/src/tar/entry.ts
  packages/core/src/tar/extract-sub-folder.ts
  packages/core/src/tar/pack.ts
  packages/edge-polyfill/src/compression-streams.ts
  packages/edge-polyfill/src/shims.d.ts
  packages/edge-polyfill/src/stream.ts
  packages/edge-polyfill/src/web-stream.ts
Due: yarn run lint:fix

chore: remove imagemin-lint-staged
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: migrate from now to vercel
  api/_utils/pkg.ts
  package-lock.json
  package.json
  packages/core/src/parse-url-query/get-value.ts
  packages/core/src/parse-url-query/index.ts
  packages/core/src/parse-url-query/parser.ts
  packages/core/src/parse-url-query/query.ts
  packages/core/src/tsconfig.json
  vercel.json
Due: prettier --write

chore: refactor
  api/_utils/pkg.ts
  package.json
  packages/core/src/parse-url-query/query.ts
Due: prettier --write

chore: remove unused tooling
  package-lock.json
  package.json
  packages/core/babel.config.js
  tools/common/.lintstagedrc.yml
  tools/common/babel/index.js
  tools/common/eslint/index.js
  tools/common/eslint/node.js
  tools/common/jest/index.js
  tools/common/package.json
Due: prettier --write

chore: lint with type information
  .eslintignore
  .eslintrc.cjs
  api/_utils/pkg.ts
  packages/core/src/tar/custom-scripts.ts
  packages/edge-polyfill/src/web-stream.ts
Due: none

fix: only convert chunk when it is Uint8Array
  packages/edge-polyfill/src/web-stream.ts
Due: none

chore: npm update
  package-lock.json
Due: prettier --write

chore: migrating to docusaurus
  .eslintignore
  .eslintrc.cjs
  .prettierignore
  docs/README.md
  package-lock.json
  package.json
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/docs/guide.md
  website/docusaurus.config.ts
  website/package.json
  website/sidebars.ts
  website/src/components/GitPkgApi.tsx
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/src/pages/markdown-page.md
  website/src/shims.d.ts
  website/static/.nojekyll
  website/static/img/cover.svg
  website/static/img/favicon.svg
  website/static/img/icons/apple-icon-120.png
  website/static/img/icons/apple-icon-152.png
  website/static/img/icons/apple-icon-167.png
  website/static/img/icons/apple-icon-180.png
  website/static/img/icons/favicon-196.png
  website/static/img/icons/manifest-icon-192.png
  website/static/img/icons/manifest-icon-512.png
  website/static/img/logo.svg
  website/tsconfig.json
Due: prettier --write, imagemin-lint-staged

chore: volta pin node@20
  package.json
Due: prettier --write

feat: migrate to docusaurus
  docs/.vuepress/styles/palette.styl
  website/src/components/ButtonGroup.module.scss
  website/src/components/CustomScriptEdit/index.tsx
  website/src/components/GitPkgApi.module.scss
  website/src/components/SelectDropdown.tsx
  website/src/css/_vars.scss
  website/src/css/custom.css
  website/src/css/custom.scss
Due: prettier --write

feat: website pwa
  docs/.vuepress/.npmignore
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/gen/site-meta.json
  docs/.vuepress/package.json
  docs/.vuepress/scripts/constants.js
  docs/.vuepress/scripts/gen-assets.js
  docs/.vuepress/scripts/main.js
  docs/.vuepress/scripts/manifest.webmanifest
  package-lock.json
  website/docusaurus.config.ts
  website/package.json
  website/static/manifest.json
Due: prettier --write

docs: home page title
  website/src/pages/index.tsx
Due: none

docs: add gtag and adsense
  docs/.vuepress/config.js
  website/docusaurus.config.ts
Due: none

docs: fix icon link in head
  website/docusaurus.config.ts
Due: none

fix: vercel routes
  package.json
  vercel.json
  website/docusaurus.config.ts
Due: prettier --write

fix: vercel build command
  package.json
  vercel.json
Due: prettier --write

fix: @gitpkg/core should provide es modules
  packages/core/package.json
  packages/core/src/tsconfig.json
Due: prettier --write

Revert "fix: @gitpkg/core should provide es modules"
  packages/core/package.json
  packages/core/src/tsconfig.json
Due: prettier --write

chore: fix lint on *.spec.ts
  packages/core/src/tsconfig.src.json
  packages/core/tsconfig.json
  packages/core/tsconfig.test.json
Due: prettier --write

refactor: esm
  jest.config.ts
  package.json
  packages/core/package.json
  packages/core/src/api/download-git-pkg.ts
  packages/core/src/parse-url-query/default-parser.ts
  packages/core/src/parse-url-query/get-value.ts
  packages/core/src/parse-url-query/index.ts
  packages/core/src/parse-url-query/parser.ts
  packages/core/src/parse-url-query/plugins/custom-scripts/index.ts
  packages/core/src/parse-url-query/plugins/custom-scripts/parse-query.spec.ts
  packages/core/src/parse-url-query/plugins/custom-scripts/plugin.ts
  packages/core/src/parse-url-query/plugins/index.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/commit-ish.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/from-query.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/from-url.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/index.ts
  packages/core/src/parse-url-query/plugins/url-and-commit/plugin.ts
  packages/core/src/tar/custom-scripts.spec.ts
  packages/core/src/tar/custom-scripts.ts
  packages/core/src/tar/extract-sub-folder.spec.ts
  packages/core/src/tar/extract-sub-folder.ts
  packages/core/src/tar/index.ts
  packages/core/src/tar/modify-single-file.ts
  packages/core/src/tar/pack.ts
  packages/core/src/tar/prepend-path.spec.ts
  packages/core/src/tar/prepend-path.ts
  packages/core/test/util/tar-entry.ts
  packages/edge-polyfill/package.json
  packages/edge-polyfill/src/shims.d.ts
  packages/edge-polyfill/src/stream.ts
Due: prettier --write

fix: specify framework and outputDirectory explicitly
  vercel.json
Due: prettier --write

wip: testing
  api/_utils/http_status_code.ts
  api/_utils/pkg.ts
  api/pkg-from-url.ts
  api/pkg.ts
Due: yarn run lint:fix

wip: test module @gitpkg/edge-polyfill/stream
  api/ping.ts
Due: yarn run lint:fix

Path conditions:
  prettier --write: (any of: *.{md,html,css,yml,yaml,json}) or (any of: .eslintrc.js)
  yarn run lint:fix: any of: api/*.{js,ts}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
